  <h3><%= @creature.name %> the <%= @creature.animal_type %>:</h3>

    <p>COLOR:&nbsp;<%= @creature.color %></p>
    <p>SIZE:&nbsp;<%= @creature.size %><p>
	<p>DESCRIPTION:<br />
		<%= @creature.description %></p>
  </div>

  EDIT CREATURE LINK
  DELETE CREATURE LINK